<template name="account">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">User Account</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if currentUser.profile.name}}
        <div class="padding accountLoggedin">
            <div class="center">
              <div class="circular"><img src="{{pic}}" alt="{{currentUser.profile.name}}"></div>
            </div>
            <h2>{{currentUser.profile.name}}</h2>
        </div>
        <div class="padding">
          <button class="button button-positive button-block" data-action="logout">Log Out</button>
        </div>
      {{else}}
        {{> atForm}}
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
